body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 14px "Century Gothic", Futura, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*  gasatania styled componentebshi  */

/* .game-board {
  width: 100%;
  overflow-y: scroll; */
/* } */
.board-wrapper {
  width: fit-content;
  /* overflow-y: scroll; */
  display: flex;
}

.start-game {
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0;
  color: brown;
}

input {
  margin: 15px;
  padding: 5px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
}

li.selected {
  font-weight: 600;
}

.App {
  display: flex;
  justify-content: center;
  text-align: center;
}
